<%- include('partials/header.ejs') %>

<h1>Blog Web App</h1>

<h2>Posts</h2>

<% if (locals.posts) { %>
  <ul>
    <% for (const post of posts) { %>
      <li>
        <a href="<%= `/post/${post.id}` %>"><%= post.title %></a>
        <span>by <%= post.author %></span>
      </li>
    <% } %>
  </ul>
<% } else { %>
  <p>No posts were found.</p>
<% } %>

<%- include('partials/footer.ejs') %>
