<%- include('partials/header.ejs') %>

<h1><%= post.title %></h1>

<p>by <%= post.author %></p>

<a href="<%= `/post/${post.slug ?? post.id}/edit` %>">Edit post</a>

<p><%= post.body %></p>

<%- include('partials/footer.ejs') %>
