<%- include('partials/header.ejs') %>

<div class="home">
  <h1>Posts</h1>

  <% if (locals.posts) { %>
    <ul>
      <% for (const post of posts) { %>
        <li>
          <a href="<%= `/post/${post.slug ?? post.id}` %>"><%= post.title %></a>
          <span>by <%= post.author %></span>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <p>No posts were found.</p>
  <% } %>
</div>

<%- include('partials/footer.ejs') %>
