<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css'>
    <script defer src="/js/app.js"></script>
  </head>
  <body>
    <main class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold mb-6">My Booknotes</h1>

      <div class="flex justify-between items-center mb-6">
        <form action="/" id="sort-form">
          <select name="sort" id="sort-select" class="select select-bordered w-full max-w-xs">
            <option value="" <%= !locals.sort ? 'selected' : '' %> disabled hidden>Sort by</option>
            <option <%= sort === 'rating' ? 'selected' : '' %> value="rating">Rating</option>
            <option <%= sort === 'recency' ? 'selected' : '' %> value="recency">Recency</option>
            <option <%= sort === 'title' ? 'selected' : '' %> value="title">Title</option>
          </select>
          <button type="submit" class="sr-only">Submit</button>
        </form>
        <button class="btn btn-accent">Add New Book</button>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <% booknotes.forEach(item => { %>
          <%- include('partials/booknote', { item }) %>
        <% }) %>
      </div>
    </main>
  </body>
</html>
