<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css'>
    <script defer src="/js/app.js"></script>
  </head>
  <body>
    <main class="container mx-auto px-4 py-6">
      <h1 class="text-3xl font-bold mb-6">My Booknotes</h1>

      <div class="flex justify-between items-center mb-6">
        <form action="/" id="sort-form">
          <select name="sort" id="sort-select" class="inline-flex h-[35px] items-center justify-center gap-[5px] rounded bg-white px-[15px] text-[13px] leading-none text-violet11 shadow-[0_2px_10px] shadow-black/10 outline-none hover:bg-mauve3 focus:shadow-[0_0_0_2px] focus:shadow-black data-[placeholder]:text-violet9">
            <option value="" <%= !locals.sort ? 'selected' : '' %> disabled hidden>Sort by</option>
            <option <%= sort === 'rating' ? 'selected' : '' %> value="rating">Rating</option>
            <option <%= sort === 'recency' ? 'selected' : '' %> value="recency">Recency</option>
            <option <%= sort === 'title' ? 'selected' : '' %> value="title">Title</option>
          </select>
          <button type="submit" class="sr-only">Submit</button>
        </form>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <% booknotes.forEach(item => { %>
          <%- include('partials/booknote', { item }) %>
        <% }) %>
      </div>
    </main>
  </body>
</html>
