<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css'>
    <script defer src="/js/app.js"></script>
  </head>
  <body>
    <main class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold mb-6">My Booknotes</h1>

      <div class="flex justify-between items-center mb-6">
        <form action="/" id="sort-form">
          <select name="sort" id="sort-select" class="select select-bordered w-full max-w-xs">
            <option value="" <%= !locals.sort ? 'selected' : '' %> disabled hidden>Sort by</option>
            <option <%= sort === 'rating' ? 'selected' : '' %> value="rating">Rating</option>
            <option <%= sort === 'recency' ? 'selected' : '' %> value="recency">Recency</option>
            <option <%= sort === 'title' ? 'selected' : '' %> value="title">Title</option>
          </select>
          <button type="submit" class="sr-only">Submit</button>
        </form>
        <button class="btn" onclick="add_form.showModal()">Add a Booknote</button>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <% booknotes.forEach(item => { %>
          <%- include('partials/booknote', { item }) %>
        <% }) %>
      </div>
    </main>

    <dialog id="add_form" class="modal">
      <div class="modal-box">
        <form method="dialog"><button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button></form>
        <form id="addBookForm" action="/add" method="post">
          <h3 class="font-bold text-lg mb-4">Add a Booknote</h3>
          <div class="form-control w-full">
              <label class="label" for="title">
                  <span class="label-text">Title</span>
              </label>
              <input type="text" name="title" id="title" placeholder="Enter book title" class="input input-bordered w-full" required />
          </div>
          <div class="form-control w-full">
              <label class="label" for="author">
                  <span class="label-text">Author</span>
              </label>
              <input type="text" name="author" id="author" placeholder="Enter author name" class="input input-bordered w-full" required />
          </div>
          <div class="form-control hidden">
            <label for="authorKey">Author</label>
            <input type="text" name="authorKey" id="authorKey" />
          </div>
          <div class="form-control w-full">
              <label class="label" for="isbn">
                  <span class="label-text">ISBN</span>
              </label>
              <input type="text" name="isbn" id="isbn" placeholder="Tip: Enter the ISBN first to autofill title and author fields" class="input input-bordered w-full" />
          </div>
          <div class="form-control w-full">
              <label class="label" for="notes">
                  <span class="label-text">Notes</span>
              </label>
              <textarea name="notes" id="notes" class="textarea textarea-bordered h-24" placeholder="Enter your notes about the book" required></textarea>
          </div>
          <div class="form-control w-full">
              <label class="label">
                  <span class="label-text">Rating</span>
              </label>
              <div class="rating" id="ratingStars">
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="1" />
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="2" />
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="3" />
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="4" />
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="5" />
              </div>
          </div>
          <div class="form-control w-full">
              <label class="label" for="dateRead">
                  <span class="label-text">Date Read</span>
              </label>
              <input type="date" name="dateRead" id="dateRead" class="input input-bordered w-full" required />
          </div>
          <div class="modal-action">
              <button class="btn btn-primary" id="saveBook">Save Booknote</button>
          </div>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>

    <dialog id="edit_booknote_modal" class="modal">
      <div class="modal-box">
        <form method="dialog"><button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button></form>
        <form id="editBooknoteForm" action="/edit" method="post">
          <h3 class="font-bold text-lg mb-4">Edit Booknote</h3>
          <input type="hidden" id="editBooknoteId" name="id">
          <div class="form-control w-full">
              <label class="label" for="editTitle">
                  <span class="label-text">Title</span>
              </label>
              <input type="text" name="title" id="editTitle" placeholder="Enter book title" class="input input-bordered w-full" required disabled />
          </div>
          <div class="form-control w-full">
              <label class="label" for="editAuthor">
                  <span class="label-text">Author</span>
              </label>
              <input type="text" name="author" id="editAuthor" placeholder="Enter author name" class="input input-bordered w-full" required disabled />
          </div>
          <div class="form-control w-full">
              <label class="label" for="editIsbn">
                  <span class="label-text">ISBN</span>
              </label>
              <input type="text" name="isbn" id="editIsbn" placeholder="Tip: Enter the ISBN first to autofill title and author fields" class="input input-bordered w-full" disabled />
          </div>
          <div class="form-control w-full">
              <label class="label" for="editNotes">
                  <span class="label-text">Notes</span>
              </label>
              <textarea name="notes" id="editNotes" class="textarea textarea-bordered h-24" placeholder="Enter your notes about the book" required></textarea>
          </div>
          <div class="form-control w-full">
              <label class="label">
                  <span class="label-text">Rating</span>
              </label>
              <div class="rating" id="editRatingStars">
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="1" />
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="2" />
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="3" />
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="4" />
                  <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="5" />
              </div>
          </div>
          <div class="form-control w-full">
              <label class="label" for="editDateRead">
                  <span class="label-text">Date Read</span>
              </label>
              <input type="date" name="dateRead" id="editDateRead" class="input input-bordered w-full" required />
          </div>
          <div class="modal-action">
              <button class="btn btn-primary" id="saveBook">Save Changes</button>
          </div>
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </body>
</html>
